<!-- including the general layout for the page -->
{% extends 'layout.html' %}

<!-- extra css file for this page -->
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/history.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

<!-- extra css -->
{% endblock %}

<!-- content of the page here -->
{% block content %}
<div class="allparts">
    <h2 class="pageheader">Chat History</h2>

    <div class="underheader">
        <!-- <div class="side-bar"> -->
        <!-- implementation for the side bar  -->
        {% include "includes/menu.html" %}
        <!-- </div> -->
        <div class="contents">
            <form class="searchbar" method="GET" action="{{ url_for('history') }}">
                <input type="text" placeholder="Search for your history here" name="contains">
                <input type="submit" value="Search">
            </form>

            <div class="container ">

                <div class="card-deck " id="hey">

                    {% for i in range(0,chats|length,2) %}

                    <div class="card border ">
                        <div class="card-body">
                            <p class="time">{{ chats[i].created_at.strftime("%Y-%m-%d") }}</p>
                            <img src="{{ url_for('static', filename='img/line.png') }}" alt="">
                            <div class="preview">
                                {% if chats[i] is not none and chats[i+1] is not none %}
                                <p class="preview-content">Q: {{ chats[i].body[:50] }} ...<br>A: {{ chats[i+1].body[:50] }} ... </p>
                                {% else %} {% if chats[i] is not none %}
                                <p class="preview-content">{{ chats[i].body[:50] }} ...</p>
                                {% else %}
                                <p class="preview-content">{{ chats[i+1].body[:50] }}...</p>

                                {% endif %} {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- adding javascript for the side bar -->
{% block script %} {% endblock %}