{% extends 'layout.html' %} {% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> {% endblock %} {% block content %}
<div class="container">
    <img id="logo" class="" src="{{ url_for('static', filename='img/MonetizeAI-logo.png') }}" alt="logo">
    <div class="member">Member Login</div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label() }} {{ form.email(class_="form-control", placeholder="Enter Email Address Here") }} {% if form.email.errors %}
            <small class="text-danger">{{ form.email.errors[0] }}</small> {% endif %}

        </div>
        <div class="form-group">
            {{ form.password.label() }} {{ form.password(class_="form-control", placeholder="Enter Your Password Here") }} {% if form.password.errors %}
            <small class="text-danger">{{ form.password.errors[0] }}</small> {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %} {{ message }} {% endfor %}
            </div>
            {% endif %} {% endwith %}

        </div>
        <div class="form-footer">
            <div class="sign-Up"><a href="{{ url_for('signup') }}" class="no-underline">Dont have an Account?</a></div>
            <div class="forgot-password">Forgot password?</div>
        </div>
        <button id="Submit" type="submit" class="btn btn-primary">Login</button>
        <div id="message"></div>
        <div class="line-or-container">
            <hr class="line">
            <span class="or">OR</span>
            <hr class="line">
        </div>

        <div class="social-btns">
            <button class="facebook-btn"><img src="{{ url_for('static', filename='img/2021_Facebook_icon.svg.png') }}"
					alt="Facebook logo"><span>Continue with Facebook</span></button>
            <button class="google-btn"><img src="{{ url_for('static', filename='img/Google__G__Logo.svg.png') }}"
					alt="Google logo"><span>Continue with Google</span></button>
        </div>

    </form>
</div>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}