{% extends 'layout.html' %} {% block stylesheet %}
<!-- <link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/portfolio.css') }}"
/> -->
{% endblock %} {% block content %}
<!-- create table for managing stock assets -->
<div class="container">
	<div class="row">
		<div class="col-12 text-center my-5">
			<h1 id="title" class="">Portfolio Management</h1>
		</div>
	</div>

	{% include "includes/menu.html" %}
		<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/portfolio.css') }}"
	/>

	<h2 id="risk-text" class="text-center mb-4">
		Risk Tolerance: <span id="risk-tolerance">{{ user_data.risk_tolerance }}</span>
	</h2>
	<div class="row text-center">
		<!-- TODO: risk tolerance feature -->
		<div class="col-12 col-sm-12 col-lg-8">
			<table id="portfolio-table" class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Stock</th>
						<th scope="col">Quantity</th>
						<th scope="col">Bougth Price</th>
						<th scope="col">Current Price</th>
						<th scope="col">Return (%)</th>
						<th scope="col">Return ($)</th>
						<th scope="col">Totals</th>
					</tr>
				</thead>
				<tbody>
					{% for stock in portfolio %}
					<tr>
						<td>{{stock.date_added.date()}}</td>
						<td>{{stock.ticker}}</td>
						<td>{{stock.quantity}}</td>
						<td>$ {{stock.price_bought}}</td>
						<td>$ {{stock.current_price}}</td>
						<td>{{stock.return_percent}} %</td>
						<td>$ {{stock.return_amount}}</td>
						<td>$ {{stock.total}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-sm-8 offset-sm-2 col-lg-3 my-sm-4 mx-lg-4">
			<canvas id="portfolio-chart"></canvas>
		</div>
	</div>
	<div class="download-csv col-12 text-center my-5">
		<h4 id="export-text" class="text-info my-sm-5 my-lg-4">
			Download portfolio as CSV
		</h4>
		<button class="btn btn-info">Export</button>
	</div>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/portfolio.js') }}"></script>
{% endblock %}
