{% extends 'layout.html' %}

{% block stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}" />
{% endblock %}

{% block content %}
      <div class="Header">
		<div class="title">Account Settings</div>
        
      </div>
	   {% include "includes/menu.html" %}
		<form>
            
            <div class="picture">
                <label for="profilepic">Profile Picture:</label>
                <img src="assets/img/Frame 1.png " alt="profile picture" >
                <button class="Change-Profile">Change Profile Picture</button>
            </div>
            <div class="Firstname"> 
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname">
        </div>
			
        <div class="Lastname"> 
			<label for="lastname">Last Name:</label>
			<input type="text" id="lastname" name="lastname">
        </div>
        <div class="Email"> 
			<label for="email">Email:</label>
			<input type="email" id="email" name="email">
        </div>
        <div class="Password1"> 
			<label for="password">Password:</label>
			
			<button class="Password">Change Password</button>
        </div>
        <div class="Lighting"> 
			<label for="Mode">Lighting Mode:</label>
			<button class="Light"><img src="assets/img/831682.png" alt="sun"  ></button>
            <button class="Dark"><img src="assets/img/180700.png" alt="profile picture" ></button>
        </div>

        <a href="login_page.html" class="logout">Log Out</a>

        
			
		</form>

        {% endblock %}

        {% block script %}
                <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
        {% endblock %}