<!DOCTYPE html>
<html>
<head>
    <title>Stock Profit Calculator</title>
    
</head>
{% block stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% endblock %}
<body>
    <h1>Stock Profit Calculator</h1>
    <br>
    <div id="message"></div>
    <table>
      
        <thead>
            <tr>
                <th>Ticker Symbol</th>
                <th>Selected Date</th>
                <th>End Date</th>
                <th>Company Name</th>
                <th>Start Close Price</th>
                <th>End Close Price</th>
                <th>Shares</th>
                <th>Profit/Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
<tr>
    <td>{{ stock.ticker_symbol }}</td>
    <td>{{ stock.selected_date }}</td>
    <td>{{ stock.end_date }}</td>
    <td>{{ stock.company_name }}</td>
    <td>{{ '{:.2f}'.format(stock.start_close_price) }}</td>
    <td>{{ '{:.2f}'.format(stock.end_close_price) }}</td>
    <td>{{ stock.shares }}</td>
    <td>{{ '{:.2f}'.format(stock.profit) }}</td>
</tr>
{% endfor %}
        </tbody>
    </table>

    <br>

    <button onclick="addStock()">Add A Stocks Related Message</button>
    <button onclick="calculateTotalProfit()">Total Profits/Loss</button>
<p>Total Profits/Loss: $ <span id="total-profit"></span></p>

   
	{% block script %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
   

    
</body>
</html>
