* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    src: url("assets/Inter.ttf") format("truetype");
    font-weight: bold;
    padding-bottom: 100px;
}

.pageheader {
    color: rgb(101, 187, 114, 60%);
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
}

.underheader {
    display: flex;
}

.contents {
    width: 80%;
    margin: 5% 10% 0 25%;
}

.container {
    margin-top: 40px;
}

.image {
    width: 50%;
}
.image-section img {
    max-width: 600px;
    max-height: 600px;
  }



  button {
    background-color: rgb(101, 187, 114, 60%);;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;}