/* For desktop devices */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    src: url("assets/Inter.ttf") format("truetype");
    font-weight: bold;
    padding-bottom: 500px;
}

.pageheader {
    color: rgb(101, 187, 114, 60%);
    text-align: center;
    margin-top: 25px;
    font-size: 40px;
}

.underheader {
    display: flex;
}

.contents {
    width: 80%;
    margin: 5% 10% 0 20%;
}

.searchbar {
    text-align: center;
}

.searchbar input {
    background-color: rgb(202, 222, 205, 100%);
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.container {
    margin-top: 40px;
}

.card-body {
    margin: 20px;
}

.card {
    margin: 20px;
}

.border {
    border-style: solid;
    border-radius: 20px;
    border-color: aliceblue;
}

.card-body {
    display: flex;
    height: 200px;
    overflow: hidden;
    column-gap: 10%;
    background-color: rgb(202, 222, 205, 100%);
}

.card-body img {
    height: 80%;
    width: 20px;
}

.card-body div {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 205, 125, 50%);
    border-radius: 30px;
    box-shadow: 1px 1px;
    overflow: hidden;
}

.card-body div p {
    margin-left: 15px;
    margin-top: 4px;
}

.pagination .page-item.active .page-link {
    background-color: rgb(202, 222, 205, 100%);
    color: black;
    border-color: white;
}

.pagination .page-item:hover .page-link {
    background-color: rgb(111, 205, 125, 50%);
    color: grey;
    border-color: rgb(111, 205, 125, 50%);
}

.pagination .page-item .page-link {
    color: black;
}

.preview p {
    font-size: 25px;
}

.time {
    font-size: 20px;
}

.paging {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatnumber button {
    background-color: rgb(111, 205, 125, 100%);
    font-size: larger;
}

/* For mobile devices */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (orientation: portrait) {
    #menu-icon {
        margin-top: 180px;
    }

    .menu {
        margin-top: 180px;
    }

}