#menu-icon {
    display: block;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 30px;
    height: 30px;
    margin-left: 6%;
}

.menu {
    position: fixed;
    float: left;
    top: 10%;
    margin-left: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.menu button {
    display: none;
    width: 100px;
    height: 34px;
    margin-top: 15px;
    background: #75C9B7;
    border-radius: 12px;
}