/* Default Style */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.title {
    position: absolute;
    left: 38.19%;
    right: 38.19%;
    top: 5.86%;
    bottom: 89.45%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    width: 250px;
    text-align: center;

    color: #ABD699;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 40px;
    width: 100%;

    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
}

.Header img {
    position: absolute;
    left: 2.78%;
    right: 94.1%;
    top: 5.18%;
    bottom: 90.33%;
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 100px;

    align-items: center;
}

form * {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-left: 20px;
    padding-right: 20px;
}

.picture {
    display: flex;
    align-items: center;
}

.picture img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.Change-Profile {
    margin-right: 200px;
    padding-top: 5px;
    box-sizing: border-box;

    width: 200px;
    height: 30px;
    left: calc(50% - 378px/2);
    top: 558px;

    background: #dfdfe1;

    border: 0px solid #16123F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;

    color: #000000;
}

.logout {
    box-sizing: border-box;

    width: 200px;
    height: 40px;
    left: calc(50% - 378px/2 + 89.5px);
    top: 655px;
    margin-top: 40px;
    text-decoration: none;

    background: #16123F;

    border: 1px solid #16123F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 39px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #FFFFFF;
}

.logout:hover {
    background-color: #3c32a9;
}

input[type="text"],
input[type="email"] {
    box-sizing: border-box;

    width: 500px;
    height: 30px;
    left: 308px;
    top: 179px;
    padding-left: 10px;

    background: #FEFAFA;
    border: 1px solid #000000;
    border-radius: 10px;
}

.label-list {
    margin-right: 5px;
}

.api-key {
    margin-left: 55px;
}

#save-button {
    height: 35px;
    background: rgba(255, 226, 106, 0.71);
    border: 0px;
    border-radius: 10px;
}

.Lighting {
    margin-right: 145px;
}

.Lighting label {
    display: inline-block;
    margin-right: 10px;
}

#profilepic {
    margin-left: 100px;
    padding-right: 100px;
}


.Light,
.Dark {
    display: inline-block;
    vertical-align: middle;
}

.Light {
    width: 120px;
    height: 40px;
    padding-top: 5px;
    border: 0 solid #000000;
    background: #efefef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.Light:hover {
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Dark {
    width: 120px;
    height: 40px;

    padding-top: 3px;

    background: #16123F;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.Dark:hover {
    background: #382eac;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Light img,
.Dark img {
    max-width: 40px;
    max-height: 40px;

}

/* Mobile Styles */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (orientation: portrait) {
    .title {
        left: 27.19%;
        right: 38.19%;
        top: 5.86%;
        bottom: 89.45%;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 48px;
        width: 475px;
        margin-top: 100px;

        /* Color 1 */

        color: #ABD699;
    }

    #profilepic {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        grid-template-columns: max-content 1fr;
        grid-gap: 10px 20px;
        justify-items: end;
        padding-top: 250px;

        align-items: center;
    }

    label {
        font-weight: bold;
        display: inline-block;
        width: 350px;
        text-align: right;
        margin-left: 200px;
        padding-right: 20px;
        font-size: 40px;
        text-align: left;
    }

    .picture {
        display: inline-block;
    }

    .picture img {
        height: 250px;
        width: 250px;

        margin-left: 370px;
        margin-bottom: 40px;

        top: 25px;
        left: 25px;
        z-index: 1;
    }

    .Change-Profile {
        margin-right: 200px;
        padding-top: 5px;
        box-sizing: border-box;

        width: 450px;
        height: 70px;
        left: calc(50% - 400px/2);
        top: 558px;

        margin-left: 275px;
        /* Color 5 */

        background: #dfdfe1;
        /* Color 5 */

        border: 0px solid #16123F;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-size: 35px;
        line-height: 25px;
        text-align: center;

        color: #000000;
    }

    .logout {
        box-sizing: border-box;

        width: 400px;
        height: 80px;
        left: calc(50% - 378px/2 + 89.5px);
        top: 655px;
        margin-top: 40px;
        text-decoration: none;

        /* Color 5 */

        background: #16123F;
        /* Color 5 */

        border: 1px solid #16123F;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        text-align: center;
        transition: background-color 0.5s ease, color 0.5s ease;
        color: #FFFFFF;
    }

    input[type="text"],
    input[type="email"] {
        box-sizing: border-box;

        width: 600px;
        height: 55px;
        left: 308px;
        top: 179px;

        background: #FEFAFA;
        border: 1px solid #000000;
        border-radius: 15px;
        font-size: 35px;
        margin-left: 200px;
    }


    .Light,
    .Dark {
        width: 240px;
        height: 80px;
        padding-top: 5px;
        border: 0 solid #000000;
        border-radius: 40px;

    }

    .Light {
        margin-left: 200px;

    }

    .Dark {
        margin-left: 80px;
    }

    .Light img,
    .Dark img {
        max-width: 70px;
        max-height: 70px;

    }
}