/* color: #abd699 #ffe26a #75c9b7 #c7ddcc #16123f */

/* default screen */
body {
    background-color: white;
    font-size: 18px;
}

nav {
    width: 200px;
    height: 500px;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 3px solid #75c9b7;
    border-radius: 8px;

}

nav ul li {
    margin: 20px;
}

footer {
    background-color: rgb(33, 33, 124);
    color: white;
}

#logo {
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 10px;
    margin-left: 12px;
    margin-bottom: 8px;
    border: 2px solid #75c9b7;
    border-radius: 15px;
    box-shadow: 0px 1px 2px #abd699;
    
}

button {

    background-color: darkblue;
    color: white;
    padding: 2px;
    margin: 10px;
    border: 3px solid #e6d7d5;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    height: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: #16123f;
    color: white;
    text-align: center;

}

footer:hover {
    background-color: aqua;
    color: black;
}

/* tablet screen */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {}

/* phone screen */
@media only screen and (min-device-width: 375px) and (max-device-width: 500px) and (orientation: portrait) {}


/* Path: CITS3403-Project/assets/css/template.css */