<table class="menu">
    <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('index') }}" style="text-decoration: none; color: inherit;">Home</a></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('portfolio') }}" style="text-decoration: none; color: inherit;">Portfolio</a></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn">History</button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn">Settings</button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn">About Us</button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn">Log Out</button></td>
    </tr>
    <!-- <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('history') }}" style="text-decoration: none; color: inherit;">History</a></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('settings') }}" style="text-decoration: none; color: inherit;">Settings</a></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('aboutUs') }}" style="text-decoration: none; color: inherit;">About Us</a></button></td>
    </tr>
    <tr>
        <td><button type="button" class="btn"><a href="{{ url_for('logOut') }}" style="text-decoration: none; color: inherit;">Log Out</a></button></td>
    </tr> -->
</table>